body{
    padding-top: 15px;
}
.logo{
    height: 50px;
    margin-right: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #0A0A0A;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
nav li{
    padding: 0px 20px;
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
}
header{
    text-align: center;
    background-color:gray;
    background:linear-gradient(135deg, #38dbf8, #4cf0ac);
  }
header h1{
    font-weight: bold;
    font-size: 40px;
    color: #0F172A;
}

header p{
    font-size: 20px;
    color: #1E293B;
}
header button{
    font-size: 20px;
    border: 2px solid #00ffff;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: #14B8A6;
    color: #00ffff;
    cursor: pointer;
    animation: neonglow 1.5s infinite alternate;
    margin: 10px;
    color: #FFFFFF;
    transition: all 0.3s ease;
}
@keyframes neonglow{
    0% { box-shadow: 0 0 0px #00ffff;}
    100% { box-shadow: 0 0 30px #00D8FF;}
}
.btn-biru:hover{
    background-color: #0284C7;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(2,  132, 199,  0.3);
}
main{  
    background-color: whitesmoke;
    color: #1e293b;
}
.judul{
    display: flex;
    justify-content: center;
    color: #183bb0;
}
main span{
    display: flex;
}
.visi{
    color: #183bb0;
}
.misi{
    color: #183bb0;
}
.deskirpsi{
    color:  #12151d9b;
}
.deskirpsi2{
    color: #12151d9b;
}
.slideshow {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0px 100px 0px 100px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.slide {
  position: absolute;
  width: 100%;
  opacity: 0;
  animation: fadeSlide 12s infinite; 
}
.slide img {
  width: 100%;
  display: block;
}
.slide:nth-child(1) {
  animation-delay: 0s;
}
.slide:nth-child(2) {
  animation-delay: 4s;
}
.slide:nth-child(3) {
  animation-delay: 8s;
}
@keyframes fadeSlide {
  0% { opacity: 0; }
  10% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; }
}

